@import './../style/Global.module.css';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--greyish);
}

.header h1 {
  font-family: var(--teko);
  transform: translate(-150px, 0px);
}