@import './../style/Global.module.css';

.button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: var(--teko);
  font-size: 1.25rem;
  padding: 0;
  background-color: var(--redish);
}

.button span {
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
}